/* Unchanged */
/* 
------------------------------
piccto Design + Web | 2013
------------------------------
www.piccto.de
------------------------------
Base CSS 23.08.2013
-----------------------------*/


/* Grid 960px / 6 Columns / Gutter 30px
-----------------------------*/
/*#pagewrap						{min-height: 100%; height: auto !important; height: 100%; position: relative; overflow: hidden;}*/

.inside							{width: 960px; margin: 0 auto; position: relative; padding: 0 20px;}

.row							{width: 100%; display: block; overflow: hidden;}

.col_16, .col_14, .col_13, .col_12, .col_23, .col_34, .col_56

								{float: left; display: inline; margin-left: 2%; padding-left: 2%;}	/* Gutter 30px */

.col_16							{width: 13.33333%;}		/*135px*/

.col_14							{width: 22%;}			/*217,5px*/

.col_13							{width: 30.66666%;}		/*300px*/

.col_12			 				{width: 47.99999%;}		/*465px*/

.col_23							{width: 65.33332%;}		/*630px*/

.col_34							{width: 74%;}			/*712,5px*/

.col_56				 			{width: 82.66665%;}		/*795px*/

.col_13.g_60					{width: 28%; margin-left: 4%; padding-left: 4%;} 	/* Col 280px, Gutter 60px */

.col_12.g_90					{width: 44%; margin-left: 6%; padding-left: 6%;} 	/* Col 435px, Gutter 90px */

.col_divider					{border-left: 1px solid #CCC; margin-right: -1px;}

.span							{xheight: 1px;}

/* Typo 
-----------------------------*/
html 							{font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

body							{
								font-family: 'Open Sans', Arial, sans-serif; 
								font-weight:400; 
								font-size: 15px; 
								line-height: 1.6;
								color: #777;
								}
								
.small							{font-size: 13px;}
								
h1, h2, h3						{
								font-family: 'Roboto Slab'; 
								font-weight: 400; 
								line-height: 1.1; 
								padding-bottom: 10px;
								}

h2, h3							{line-height: 1.3;}

h4, h5, h6						{font-weight: 600; padding-bottom: 5px;}

h1								{font-size: 36px;}
h2								{font-size: 30px;}
h3								{font-size: 24px;}
h4								{font-size: 19px;}
h5								{font-size: 15px;}
h6								{font-size: 13px;}

p								{padding-bottom: 13px;}

ul, ol, li						{list-style: none;}

a								{color: inherit; text-decoration: none !important; cursor: pointer;}

a:focus							{outline: none;}

abbr, small						{font-size: 11px;}

em, i 							{font-style: italic;}

strong, .strong, b 				{font-weight: 600;}

.center							{text-align: center;}

/* Styles 
-----------------------------*/
hr 								{display: block; height: 1px; border: 0; border-top: 1px dotted #CCC; margin-bottom: 12px;}

.left							{float: left;}
.right							{float: right;}
.clear							{clear: both;}

.relative						{position: relative;}
.absolute						{position: absolute;}
.fixed							{position: fixed;}

.alpha							{margin-left: 0 !important; padding-left: 0 !important; xborder: 0 !important;}
.omega							{margin-right: 0 !important; padding-right: 0 !important; xborder: 0 !important;}


/* Sticky Footer 
-----------------------------*/

footer .stickyfooter			{/*width: 100%; padding: 5px 0 3000px 0; margin-bottom: -3000px;*/}

/* Resets
-----------------------------*/
*								{margin: 0; padding: 0; border: 0;}

html, body						{height: 100%;}
																
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 		
								{/*margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;*/}
								
img								{/*display: block; float: left;*/}

/* HTML5 display-role 
reset for older browsers*/
article, aside, figure, footer, 
header, hgroup, nav, section 	{display: block;}

/* box model*/					/** {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}*/

/*Clearfix*/
.clearfix:after,
.inside:after	 				{visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
*:first-child+html .clearfix,
*:first-child+html .inside	 	{zoom: 1;} /* IE7 */
* html .clearfix,
* html .inside	             	{zoom: 1;} /* IE6 */

/* IE_Sorry 
-----------------------------*/
p.ie							{
								font-family: Arial, sans-serif; 
								font-size: 12px; 
								color: #FFFFFF; 
								text-align: center;
								padding: 5px 10px; 
								background: #999999;
								}
