/* Unchanged */
/*
------------------------------
piccto Design + Web | 2014
------------------------------
www.piccto.de
------------------------------
Aircloak Style CSS
-----------------------------*/






/*
.bg_grey .inside,
.bg_grey.inside, 
.bg_white.inside,
.bg_white .inside,
.bg_dark						{padding: 50px 20px;}

.xbg_grey, .bg_dark				{background: url(img/cut_top.png) no-repeat center top;}

.xbg_grey .inside				{background: url(img/cut_bottom.png) no-repeat center bottom;}

.bg_grey, footer				{background-color: #f1f3f5;}

.bg_grey .inside p				{xpadding-bottom: 0;}

.bg_dark						{background-color: #e7e8e9; xborder-bottom: 1px solid #555;}

.bg_dark hr						{margin: 5px 0 15px 0; border-color: #bbb; clear: both;}

.footer_box.bg_grey .inside,
.bg_grey.cut_off,
.bg_grey .inside.cut_off		{background-image: none;}

.cut_top, .cut_bottom			{width: 100%; height: 28px; position: absolute; z-index: 900; background: url(img/cut.png) no-repeat;}

.cut_top						{background-position: center top; top: 0;}

.cut_bottom						{background-position: center bottom; bottom: 0;}

*/

/* Styles 
-----------------------------*/


/*.download				 		{
								display: inline-block;
								font-size: 19px; 
								color: #777; 
								padding: 10px 0 10px 40px;
								margin: 0 auto;
								background: url(img/bt_download_0.png) no-repeat 0 center; 
								}
								
.download a						{border-bottom: 1px dotted #ccc;}
*/


a#cloak_deployments				{position: absolute; top: -100px;}

img.illu_system.screen			{width: 85%; height: auto;}

img.illu_system.mobile			{display: none;}


.contact .phone	h5				{padding-top: 5px;}

.nav_responsive					{display: none;}

.icon							{clear: both;}

.bumper							{
								display: none;
								position: absolute; 
								right: 20px; 
								top: -90px; 
								width: 160px;
								padding: 70px 0 70px 0; 
								font-size: 15px;
								font-weight: 600;
								line-height: 1.2;
								text-align: center;
								color: #fff;
								background: url(../img/bumper.png) no-repeat center 5px;
								}
																
.press img						{width: 74%; height: auto;}

.press p						{}

.press a.col_14					{display: inline-block; font-size: 13px; text-align: center;}





/* Footer 
-----------------------------*/

